<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Tạo</div>
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Name</label>
                                <input
                                    v-model="name"
                                    type="text"
                                    class="form-control"
                                    id="name"
                                    aria-describedby="nameHelp"
                                >
                                <small id="nameHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input
                                    v-model="email"
                                    type="email"
                                    class="form-control"
                                    id="exampleInputEmail1"
                                    aria-describedby="emailHelp"
                                >
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input
                                    v-model="password"
                                    type="password"
                                    class="form-control"
                                    id="exampleInputPassword1"
                                >
                            </div>
                            <button
                                type="button"
                                class="btn btn-primary"
                                @click="save()"
                            >
                                Submit
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import api from '../../services/api'
    export default {
        data() {
          return {
              email: '',
              name: '',
              password: ''
          }
        },
        async mounted () {

        },
        methods: {
            save: async function() {
                let data = {
                    'email': this.email,
                    'name': this.name,
                    'password': this.password,
                };
                await api.post(
                    '/api/users/create',
                    data
                )

                alert('ok');
                this.email = ''
                this.name = ''
                this.password = ''
            }
        }
    }
</script>
