<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Danh sách</div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">name</th>
                                <th scope="col">email</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="user in users">
                                <th scope="row">{{ user.id }}</th>
                                <td>{{ user.name }}</td>
                                <td>{{ user.email }}</td>
                                <router-link 
                                    :to="{ name: 'UpdateUsersComponent', params: { id: user.id }}"
                                >
                                    Edit
                                </router-link>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import api from '../../services/api'
    import router from '../../router'

    export default {
        data() {
          return {
              users: null
          }
        },
        async mounted () {
            this.users = await this.getList()
        },
        methods: {
            getList: async function() {
                let data = await api.get(
                    '/api/users'
                )

                return data.data.data || [];
            },
            edit: function (id) {
                router.push({ name: 'UpdateUsersComponent', params: { id:id }})
            }
        }
    }
</script>
